body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031f2c, #8dd4fd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    backdrop-filter: blur(10px);
}

.logo {
    width: 170px;
    margin-bottom: 5px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: none; 
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    text-align: center;
}

input::placeholder {
    color: #fff;
    opacity: 0.7;
}

button {
    background-color: #fae18e;
    color: rgb(83, 80, 80);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #fde36d;
}

.error-messages {
    color: white;
    background: rgba(211, 155, 33, 0.3);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 15px;
}

.social-login a {
    margin: 0 5px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
