/* NAVBAR.CSS */
body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #08396d;
    border-radius: 10px;
    margin: 10px;
}

.logo img {
    height: 70px;
    width: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.sign-in {
    background-color: transparent;
    border: 2px solid #fde36d;
    color: #fde36d;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.sign-up {
    background-color: #fde36d;
    color: rgb(48, 27, 27);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Untuk menu hamburger, jika diperlukan */
.menu-icon {
    display: none; /* Akan muncul di layar kecil */
}

/* Responsive - Small Screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .auth-buttons {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .navbar .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon span {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }
}

/* TEST COMMIT */
